body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.cartao {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}